@use 'variables';

.event {
    padding: 60px 0;

    &--birthday {
        background-image: linear-gradient(variables.$one, variables.$two);
    }

    &--buffet {
        background-image: linear-gradient(variables.$two, variables.$three);
    }

    &--theme {
        background-image: linear-gradient(variables.$three, variables.$four);
    }

    &--venue {
        background-image: linear-gradient(variables.$four, variables.$five);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__content {
        &__title {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 16px;
        }

        &__text {
            line-height: 16px;
        }
    }

    img {
        width: 360px;
    }



    @media (max-width: 640px) {
        padding-top: 0;
        
        .container {
            display: block;
            gap: 20px; 
        }

        &__content {
            padding: 16px;
            
            &__title {
                font-size: 28px; 
                margin-bottom: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__text {
                font-size: 14px; 
                line-height: 16px;
            }
        }

        img {
            max-width: 100%; 
            height: auto; 
            margin: 0 auto; 
            display: block;
        }
    }
}