

//Colors//
$txtColor: #000000;
$txtSecColor: #fff;
$heroBgColor: #FCF6F0;
$btnBgColor: #ef97a3;

// button//
$btnDarkerColor: #d4486f;

// background gradient"//
$one: #dacdbd;
$two: #f2b8a0;
$three: #ef97a3;
$four: #df5c7e;
$five: #d4486f;


// Fonts //
$fontLora: 'Lora', serif;
$fontRoboto: 'Roboto', sans-serif;
$fontParisienne: "Parisienne", serif;
