

//Colors//
$txtColor: #000000;
$txtSecColor: #fff;
$heroBgColor: #FCF6F0;
$btnBgColor: #e35241;

$btnDarkerColor: #b43f32;

// Fonts //
$fontLora: 'Lora', serif;
$fontRoboto: 'Roboto', sans-serif;
$fontParisienne: "Parisienne", serif;
