@use 'variables';
@use 'hero';
@use 'event';
@use 'components/info-list';
@use 'components/button';

* {
    margin: 0;
    padding: 0;
    font-family: variables.$fontLora;
    color: variables.$txtColor;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}